
<section class="careers  " >
  <section class=" container pt-5 pb-5" >

  <div class="text-center m-auto w-50">
<h3 class="raleway font-weight-bold ">Careers</h3>
<p class="font-weight-bold  mt-3">
  looking for a job in a gym .. this is your place </p>
  <p class=" mt-3 "> lead people in exercise and related activities.  work with individuals or groups, providing both instruction and motivation. may specialize in aerobics, weight lifting, yoga or another activity. </p>
</div>
<hr class="mt-5">


<div class="row">
  <div class="col-md-4 col-12 mt-5">
    <div class="img">
    <img src="../../assets/images/ac56a3850dcc3606d4edefc613a4c123.jpg" class="w-100">
  </div>
  <div class="job-title font-weight-bold text-center">
    Coach
  </div>
  <div class="text text-center pt-3">
  <p class="font-weight-bold">  Gym Name <span>:</span> Pinky gym </p>
  <p class="font-weight-bold">  Job <span>:</span>coach </p>
    <p class="font-weight-bold">Address <span>:</span> 30 Street</p>
      <p class="font-weight-bold">Tel <span>:</span> 111-111-111</p>
  </div>
  </div>


  <div class="col-md-4 col-12 mt-5">
    <div class="img">
    <img src="../../assets/images/8234872c938fd4bc2b1986a50201f334.jpg" class="w-100">
  </div>
  <div class="job-title font-weight-bold text-center">
    Front desk
  </div>
  <div class="text text-center pt-3">
  <p class="font-weight-bold">  Gym Name <span>:</span> Pinky gym </p>
  <p class="font-weight-bold">  Job <span>:</span>Front Desk </p>
    <p class="font-weight-bold">Address <span>:</span> 30 Street</p>
      <p class="font-weight-bold">Tel <span>:</span> 111-111-111</p>
  </div>
  </div>


  <div class="col-md-4 col-12  mt-5">
    <div class="img">
    <img src="../../assets/images/6b8e80b9058586a24e1265c970382730.jpg" class="w-100">
  </div>
  <div class="job-title font-weight-bold text-center">
    Office Boy
  </div>
  <div class="text text-center pt-3">
  <p class="font-weight-bold">  Gym Name <span>:</span> Pinky gym </p>
  <p class="font-weight-bold">  Job <span>:</span>Office Boy</p>
    <p class="font-weight-bold">Address <span>:</span> 30 Street</p>
      <p class="font-weight-bold">Tel <span>:</span> 111-111-111</p>
  </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-4 col-12 mt-5">
    <div class="img">
    <img src="../../assets/images/fa46212698cba2df7865fffecb3fb0ab.jpg" class="w-100">
  </div>
  <div class="job-title font-weight-bold text-center">
    coach
  </div>
  <div class="text text-center pt-3">
  <p class="font-weight-bold">  Gym Name <span>:</span> Pinky gym </p>
  <p class="font-weight-bold">  Job <span>:</span>Fron Desk </p>
    <p class="font-weight-bold">Address <span>:</span> 30 Street</p>
      <p class="font-weight-bold">Tel <span>:</span> 111-111-111</p>
  </div>
  </div>

  <div class="col-md-4 col-12 mt-5">
    <div class="img">
    <img src="../../assets/images/c72042fcb565de3c6f6f7bb69cc7ccb3.jpg" class="w-100">
  </div>
  <div class="job-title font-weight-bold text-center">
    Front desk
  </div>
  <div class="text text-center pt-3">
  <p class="font-weight-bold">  Gym Name <span>:</span> Pinky gym </p>
  <p class="font-weight-bold">  Job <span>:</span>Fron Desk </p>
    <p class="font-weight-bold">Address <span>:</span> 30 Street</p>
      <p class="font-weight-bold">Tel <span>:</span> 111-111-111</p>
  </div>
  </div>


  <div class="col-md-4 col-12 mt-5">
    <div class="img">
    <img src="../../assets/images/7271795e17fe54973d7555ca35af8e4c.jpg" class="w-100">
  </div>
  <div class="job-title font-weight-bold text-center">
    office boy
  </div>
  <div class="text text-center pt-3">
  <p class="font-weight-bold">  Gym Name <span>:</span> Pinky gym </p>
  <p class="font-weight-bold">  Job <span>:</span>Fron Desk </p>
    <p class="font-weight-bold">Address <span>:</span> 30 Street</p>
      <p class="font-weight-bold">Tel <span>:</span> 111-111-111</p>
  </div>
  </div>

</div>

<!--

<div class="row mt-5">
  <div class="img col-md-5 col-12 ">
  <img src="../../assets/images/1e9a2fac893918c5e2f30992e8dfc1bc.jpg">
</div>

<div class="text col-md-7 col-12">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

</div>
</div>



<hr>
<div class="row mt-5">
  <div class="img col-md-5 col-12 ">
  <img src="../../assets/images/3df454cf24ac32a7cea3575857b9cd26.jpg">
</div>

<div class="text col-md-7 col-12">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
</div>
<hr>

<div class="row mt-5">
  <div class="img col-md-5 col-12">
  <img src="../../assets/images/ea7f78c5d2b12f65428e0aa80afcb531.jpg">
</div>

<div class="text col-md-7 col-12">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
</div>
<hr>


<div class="row">
  <div class="img col-md-5 col-12">
  <img src="../../assets/images/b994e4378507f5624aa90ae7778ded86.jpg">
</div>

<div class="text col-md-7 col-12 ">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
</div>
<hr>
<div class="row mt-5">
  <div class="img col-md-5 col-12">
  <img src="../../assets/images/258377fa798e0223843b98a9ee2641a5.jpg">
</div>

<div class="text col-md-7 col-12">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
</div> -->
</section>

</section>
