
<section class=" container py-5 ">
  <div class="row ">
    <div class="col-7 mt-2">
      <img src="../../assets/images/313793-P98HHS-692.png" width="500px">
    </div>

    <div class="profile col-5 py-5">
      <form>
        <div class="form-group">
              <label class="font-weight-bold">User Name</label>
              <input type="text" class="form-control"  placeholder="samira saad">

         </div>
        <div class="form-group">
              <label class="font-weight-bold">Email address</label>
              <input type="email" class="form-control"  placeholder="samirasaad@example.com">

         </div>

         <div class="form-group">
           <label class="font-weight-bold">Phone</label>
           <input type="number" class="form-control"  placeholder="+111-111-111">
         </div>

         <div class="form-group">
             <label class="font-weight-bold">Address</label>
             <textarea class="form-control" placeholder="El asafra ,30 street........" rows="3"></textarea>
           </div>

        <div class="form-group">
          <label class="font-weight-bold">Password</label>
          <input type="password" class="form-control"  placeholder="•••••••">
        </div>




<div class="text-center">
      <button type="submit" class=" btn line ">Save Changes</button>
    </div>

</form>
    </div>
</div>

</section>
