<div class="jumbotron jumbotron-fluid raleway healthFitness">
  <div class="container">
    <h1 class="display-4  text-white">Article For Health</h1>
    <p class="lead  text-white">Welcome To Tips for Fitness And Health.</p>
  </div>
</div>
<div class="container raleway">
  <div class="row mb-5">
    <div class="col-sm-6 img1">
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Full-Body HIIT Dance Workout</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>If you’re anything like us, you love a good workout. There’s nothing like challenging your body, getting sweaty,
            and feeling (slightly!) sore the next day. Of course, crushing an intense workout also delivers countless mind-body
            benefits, from improved mood to a lower risk of chronic conditions like heart disease.</p>
          <img src="../../assets/img/article/1.jpg" class="w-100" alt="">
          <br>
          <p>
            <br> But there’s one thing plenty of people forget: the best type of exercise is the one that you actually enjoy.
            In other words, if you hate running, don’t force yourself to do it! The key is to find activities that you genuinely
            look forward to doing.&hellip;</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
        </div>
      </ng-template>
      <div class="back1 d-flex align-items-center" (click)="openLg(content)">
        <label class="mb-5 ml-2 p-1 font-weight-bold text-center text-white" for="">new</label>
        <button class="btn  font-weight-bold">Read More</button>
      </div>
      <h6 class="mt-4 text-center"><strong>Full-Body HIIT Dance Workout</strong></h6>
    </div>
    <div class="col-sm-3 img2">
      <ng-template #content1 let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Follow an Effective Exercise Routine</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            The American Council on Exercise (ACE) recently surveyed 1,000 ACE-certified personal trainers about the best techniques
            to get fit. Their top three suggestions:</p>
          <p> Strength training. Even 20 minutes a day twice a week will help tone the entire body.</p>
          <div class="d-flex align-items-center ">
            <img src="../../assets/img/article/6.jpg" class="w-100  m-auto" alt="">
          </div>
          <br> Interval training. 'In its most basic form, interval training might involve walking for two minutes, running for
          two, and alternating this pattern throughout the duration of a workout,' says Cedric Bryant, PhD, FACSM, chief
          science officer for ACE. 'It is an extremely time-efficient and productive way to exercise.'
          <br>
          <p> Increased cardio/aerobic exercise. Bryant suggests accumulating 60 minutes or more a day of low- to moderate-intensity
            physical activity, such as walking, running, or dancing.</p>
          <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
        </div>
      </ng-template>
      <div class="back2 d-flex align-items-center" (click)="openLg(content1)">
        <button class="btn font-weight-bold">Read More</button>
      </div>
      <h6 class="mt-4 text-center"><strong>Effective Exercise Routine</strong></h6>
    </div>
    <div class="col-sm-3 img3">
      <ng-template #content2 let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Make snacks count</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Some of the most accessible snack foods—pretzels, crackers, chips—scratch the itch, but only temporarily. Before you know
            it, you’ll be reaching for more food after these carbs. “Make sure every snack is balanced, consisting of some
            carb, protein, fat, and fiber,” Delbridge says. “This is the best way to stay full and control the body’s insulin
            response and digestion.”</p>
          <div class="d-flex align-items-center ">
            <img src="../../assets/img/article/17.jpg" class="w-100  m-auto" alt="">
          </div>
          <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
        </div>
      </ng-template>
      <div class="back3 d-flex align-items-center" (click)="openLg(content2)">
        <button class="btn font-weight-bold">Read More</button>
      </div>
      <h6 class="mt-4 text-center"><strong>Make snacks count</strong></h6>
    </div>
  </div>
  <!--  -->
  <div class="row mb-5">
    <div class="col-sm-6 img4">
      <ng-template #content3 let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">This 10-Minute Wake-Up Yoga Flow Is the Perfect Start to Your Morning</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>The flow starts gently, as you’ve just rolled out of bed. Starting on hands and knees, inhale as you arch your
            spine, and exhale as you round it. Repeat the movements a few times, “getting the spine nice and pliant,” Jones
            says.
            <br>Next, flip your wrists backward to open up the joints, as well as the forearms and collarbones. This opens up
            “space that’s compressed for most people who do computer work—or will in the day to come,” Jones says. No text
            neck here!
            <br>
          </p>
          <img src="../../assets/img/article/8.jpg" class="w-100" alt="">
          <p>
            <br>Now it’s time to wake up your lower half: Move into downward-facing dog, pushing through your hands to create
            an inverted V shape with your body, with a slight bend in your knees and your hips high. If you notice discomfort
            or pressure in your wrists, shift more of your weight to your legs and hips, Jones says. Pedal your feet to open
            up your hamstrings before straightening out into a high plank, lowering onto your belly, bending backward into
            cobra position, then pressing back to child’s pose.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
        </div>
      </ng-template>
      <div class="back4 d-flex align-items-center" (click)="openLg(content3)">
        <button class="btn  font-weight-bold">Read More</button>
      </div>
      <h6 class="mt-4 text-center"><strong>Healthy Food</strong></h6>
    </div>
    <div class="col-sm-6 img5">
      <ng-template #content4 let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">How I taught myself to love healthy food</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Last night, we had a party at my house. Everyone else ordered pizza and I cooked a plate full of veggies. All of
            my friends asked me, “My god, do you want a share?” and “Are you on a diet?” or “Why are you so hard on yourself?”
            I told them was that I was fine and really enjoying my meal, but they didn’t believe me. Hence this article.
            <br>
          </p>
          <img src="../../assets/img/article/4.jpg" class="w-100" alt="">
          <p>
            <br>I used to really not care about what I ate. I would have burgers, schnitzels and sweets all the time and go to
            McDonald’s every week. While working in food tech, I started to get more interested in nutrition and began to
            understand that I need to have a healthier diet.
            <br>It’s one thing to understand the benefits of eating healthy, and I’m sure you are already convinced about that,
            but it is more difficult to act accordingly. While reading Awakening the Giant by Tony Robbins a couple of weeks
            ago, I understood why it is so difficult. It is because people keep associating healthy food with pain and unhealthy
            food with pleasure. This is what happens when you follow a strict diet instead of changing these associations.
            When I did this, it only worked short term for me.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
        </div>
      </ng-template>
      <div class="back5 d-flex align-items-center" (click)="openLg(content4)">
        <label class="mb-5 ml-2 p-1 font-weight-bold text-center text-white" for="">new</label>
        <button class="btn  font-weight-bold">Read More</button>
      </div>
      <h6 class="mt-4 text-center"><strong>10-Minute Wake-Up Yoga</strong></h6>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-sm-12 img6">
      <ng-template #content5 let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Your Fitness App is Probably Making You Fat, Here’s Why</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Fitness apps are all the rage. An explosion of new companies and products want to track your steps and count your
            calories with the aim of melting that excess blubber. There’s just one problem — most of these apps don’t work.
            In fact, there is good reason to believe they make us fatter.
            <br>
          </p>
          <img src="../../assets/img/article/7.jpg" class="w-100" alt="">
          <p>
            <br>One study called out “the dirty secret of wearables,” citing that “these devices fail to drive long-term sustained
            engagement for a majority of users.” Endeavour Partners’ research found “more than half of U.S. consumers who
            have owned a modern activity tracker no longer use it. A third of U.S. consumers who have owned one stopped using
            the device within six months of receiving it.”
            <br>While the report mentioned several reasons why people don’t stick with these tracking devices, my own theory
            is simple, they backfire. Here are three surprising reasons why fitness apps may be making us less happy and
            more flabby.
            <br>
            <h4> 1 — Not Just Calories In, Calories Out</h4>The first reason fitness apps make us fat is that almost all of them
            are based on a pervasive myth. Most of these gadgets and apps attempt to push people to eat less and exercise
            more. They ask users to track what they eat and record their physical activity in order to quantify whether dieters
            intake a surplus of calories for the day. Eat too much or move too little, the thinking goes, and you’ll get
            fat, right? Not exactly.
            <br>
            <h4>2 — You Won’t Exercise Yourself Thin</h4>
            Moral licensing is why a study found people “are more likely to cheat and steal after purchasing [environmentally] green
            products as opposed to conventional products.” It’s why other studies found participants who believed multivitamin
            pills provided significant health benefits also exercised less, were less likely to choose healthy food, and
            smoked more cigarettes.
            <!-- </p> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
        </div>
      </ng-template>
      <div class="back6 d-flex align-items-center" (click)="openLg(content5)">
        <label class="mb-5 ml-2 p-1 font-weight-bold text-center text-white" for="">new</label>
        <button class="btn  font-weight-bold">Read More</button>
      </div>
      <h6 class="mt-4 text-center"><strong>Why Your Fitness App Propably Making You Fat ?</strong></h6>
    </div>
  </div>
  <!--  -->
  <div class="row mb-5">

    <div class="col-sm-3 img7">
      <ng-template #content6 let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">The Best Route to Big Fitness? Small Steps</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p> Habits build upon themselves, according B.J. Fogg, a researcher who studies human behavior at Stanford University,
            and someone I’ve heard present on this topic. If you want to make any kind of significant change, you’d be wise
            to take baby steps. In Fogg’s behavior model, whether someone takes action depends on both their motivation and
            their ability to complete a given task. If you regularly overshoot on the ability side of the equation, you’re
            liable to flame out. But if you gradually increase the challenge over time, what was hard last week will seem
            easier today. I’ve heard Fogg say that it’s the best way to create lasting progress. And it’s a rule that applies
            to fitness, too.
          </p>
          <img src="../../assets/img/article/3.jpg" class="w-100" alt="">
          <p>
            <br>
            <br> “Consistency is key,” says Dixon. “The surest way to real confidence and enduring performance is to progressively
            layer training — slowly building on what you did in the past, adding layers over time.” </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
        </div>
      </ng-template>
      <div class="back7 d-flex align-items-center" (click)="openLg(content6)">
        <label class="mb-5 ml-2 p-1 font-weight-bold text-center text-white" for="">new</label>
        <button class="btn  font-weight-bold">Read More</button>
      </div>
        <h6 class="mt-4 text-center"><strong>Route to Big Fitness</strong></h6>
    </div>
    <!--  -->
    <div class="col-sm-3 img8">
      <ng-template #content7 let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">The Importance of Working Out with Consistency</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Working out with consistency is important for achieving fitness results. Creating a workout plan will help you
            to achieve greater consistency. A commitment to a regular workout regimen will increase your fitness level, improve
            your health and generate a greater sense of mental well being.
            <br>Creating a Workout Plan to Achieve Consistency
            <br> Committing to a fitness regimen means mapping out a plan for an activity or a series of activities that can
            be done with consistency. For some people, it is common to become energized about working out and jump right
            in. In these cases, unless there is a long-term plan in place or some thought has gone into how the fitness activity
            will be sustained, there is often a drop off in enthusiasm, resulting in inconsistency.
            <br>A well thought out fitness plan will go a long way in helping you to reach your goals. To achieve consistency,
            you will want to think about the types of exercise that you can do on a regular basis. You will want to exercise
            at least three to four times per week for the best results. Getting a gym membership, purchasing home exercise
            equipment, investing in exercise DVDs or buying a bicycle may be some of the things you want or need to work
            out with consistency.
            <br>Scheduling Your Workout

          </p>
          <img src="../../assets/img/article/11.jpg" class="w-100" alt="">
          <br>
          <p>
            <br><br> Once you have decided on the type of exercise you want to engage in , creating consistency means being realistic
            about how much time you need to devote to your regular exercise regimen.Create a workout schedule that involves
            at least a few minutes a day for a warm up, 20 minutes for a cardio activity and additional time for strength
            training and a cool down.You might write down your schedule to solidify your commitment to your exercise plan.
            <br> The Impact of Consistency on Physical Health Working out with consistency is important for your physical health.Running for five miles on one day only to
            avoid exercising for the next two weeks will only leave you feeling sore.It is too straining for the body to
            experience sporadic spurts of strenuous exercise.For optimal results, you will want to build up to higher and
            higher levels of cardiovascular strength, flexibility and strength training.A gradual increase in intensity will
            allow your muscles, tendons and ligaments a chance to adjust to the strains and challenges of a fitness regimen.
            <br> Consistent Workouts and Mental Health
            <br> A consistent workout regimen reduces stress and increases your mental well being.When you work out regularly,
              your body releases endorphins that enhance your mood.You have probably experienced these positive feelings
              after finishing a cardiovascular workout.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
        </div>
      </ng-template>
      <div class="back8 d-flex align-items-center" (click)="openLg(content7)">
        <!-- <label class="mb-5 ml-2 p-1 font-weight-bold text-center text-white" for="">new</label> -->
        <button class="btn font-weight-bold">Read More</button>
      </div>
      <h6 class="mt-4 text-center"><strong>Working Out with Consistency</strong></h6>
    </div>

    <div class="col-sm-3 img9">
      <ng-template #content8 let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">What to Eat for Dinner to Lose </h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p> Start your supper with a simple salad: it’s low in calories and research out of Penn State shows that eating a first-course salad can cut your overall calorie intake at a meal by up to 12 percent. Plus, a vegetable-packed salad delivers fiber, a must-have when you’re dieting. Fiber helps you stay satisfied longer—and, according to one study, upping your fiber intake may help prevent extra pounds from creeping on and even promote weight loss.
          </p>
          <img src="../../assets/img/article/5.jpg" class="w-100" alt="">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
        </div>
      </ng-template>
      <div class="back9 d-flex align-items-center" (click)="openLg(content8)">
        <!-- <label class="mb-5 ml-2 p-1 font-weight-bold text-center text-white" for="">new</label> -->
        <button class="btn  font-weight-bold">Read More</button>
      </div>
      <h6 class="mt-4 text-center"><strong>What to Eat for Dinner to Lose</strong></h6>
    </div>

    <div class="col-sm-3 img10">
      <ng-template #content9 let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">You Can Do It Anywhere </h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>You can do it in a boat, you can do it with a goat. You can do it here or there, you can do it anywhere! Dr. Seuss would have loved HIIT. Since it's such a simple concept—go at maximum effort for a short period of time followed by a recovery period and repeat—you can adapt it to whatever time and space constraints you have.<br>This is not a workout you can do while reading a magazine or chatting with your friend. Because it's so short, you will be working hard the whole time. The trade-off is this format offers seasoned exercisers a new challenge and new exercisers a quick way to see results. You may be in pain, you may be sucking wind, but you definitely won't be bored!, just 2 weeks of high-intensity intervals improves your aerobic capacity as much as 6 to 8 weeks of endurance training.</p>
          <img src="../../assets/img/article/13.jpg" class="w-100" alt="">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
        </div>
      </ng-template>
      <div class="back10 d-flex align-items-center" (click)="openLg(content9)">
        <!-- <label class="mb-5 ml-2 p-1 font-weight-bold text-center text-white" for="">new</label> -->
        <button class="btn  font-weight-bold">Read More</button>
      </div>
      <h6 class="mt-4 text-center"><strong>You Can Do It Anywhere</strong></h6>
    </div>
  </div>
</div>
