
<!--header-->
<div class="jumbotron">
 <div class="container">
  <h1 class="display-4">Offers</h1>
  <p class="lead"></p>
  <p>We Have a lot for you </p>
 </div>
</div>
<!--cards-->
<div class="cards pt-5">
  <div class="row  container mx-auto pb-5">
       <div class="col-lg-4 col-sm-6 portfolio-item pb-5">
          <div class="card h-100  ">
            <a href="#">
                  <div class="hovereffect">
                      <img class="card-img-top" src="../../assets/images/offers/images.jpg" alt="">
                      <div class="overlay " style="display:flex;align-items:center;">
                         <h2><img src="../../assets/images/offers/301455-P7UENB-575.png" width="200px" height="100px" style="padding-left:80px;" /></h2>
                      </div>
                  </div>
            </a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Zumba Classes</a>
              </h4>
              <p class="card-text"><i>@Your Gym</i></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item pb-5">
          <div class="card h-100 ">
            <a href="#">
                  <div class="hovereffect">
                      <img class="card-img-top" src="../../assets/images/offers/reasons-why-you-cant-go-to-the-gym.jpg" alt="">
                      <div class="overlay " style="display:flex;align-items:center;">
                         <h2><img src="../../assets/images/offers/301455-P7UENB-575.png" width="200px" height="100px" style="padding-left:80px;" /></h2>
                      </div>
                  </div>
            </a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Zumba Classes</a>
              </h4>
              <p class="card-text"><i>@Your Gym</i></p>
            </div>
          </div>
        </div>
         <div class="col-lg-4 col-sm-6 portfolio-item pb-5">
          <div class="card h-100 ">
            <a href="#">
                  <div class="hovereffect">
                      <img class="card-img-top" src="../../assets/images/offers/SweatingOut700.jpg" alt="">
                      <div class="overlay " style="display:flex;align-items:center;">
                         <h2><img src="../../assets/images/offers/301455-P7UENB-575.png" width="200px" height="100px" style="padding-left:80px;" /></h2>
                      </div>
                  </div>
            </a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Zumba Classes</a>
              </h4>
              <p class="card-text"><i>@Your Gym</i></p>
            </div>
          </div>
        </div>
         <div class="col-lg-4 col-sm-6 portfolio-item pb-5">
          <div class="card h-100 ">
            <a href="#">
                  <div class="hovereffect">
                      <img class="card-img-top" src="../../assets/images/offers/group-fitness2.jpg" alt="">
                      <div class="overlay " style="display:flex;align-items:center;">
                         <h2><img src="../../assets/images/offers/301455-P7UENB-575.png" width="200px" height="100px" style="padding-left:80px;" /></h2>
                      </div>
                  </div>
            </a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Zumba Classes</a>
              </h4>
              <p class="card-text"><i>@Your Gym</i></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item pb-5">
          <div class="card h-100 ">
            <a href="#">
                  <div class="hovereffect">
                      <img class="card-img-top" src="../../assets/images/offers/60-194828-gym-most-important-rulse_700x400.jpeg" alt="">
                      <div class="overlay " style="display:flex;align-items:center;">
                         <h2><img src="../../assets/images/offers/301455-P7UENB-575.png" width="200px" height="100px" style="padding-left:80px;" /></h2>
                      </div>
                  </div>
            </a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Zumba Classes</a>
              </h4>
              <p class="card-text"><i>@Your Gym</i></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item pb-5">
          <div class="card h-100 ">
            <a href="#">
                  <div class="hovereffect">
                      <img class="card-img-top" src="../../assets/images/offers/group-fitness.jpg" alt="">
                      <div class="overlay " style="display:flex;align-items:center;">
                         <h2><img src="../../assets/images/offers/301455-P7UENB-575.png" width="200px" height="100px" style="padding-left:80px;" /></h2>
                      </div>
                  </div>
            </a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Zumba Classes</a>
              </h4>
              <p class="card-text"><i>@Your Gym</i></p>
            </div>
          </div>
        </div>
      </div>
      </div>
      <!-- /.row -->
    <script src="../../src/js/wow.min.js"></script>
    <script>
              new WOW().init();
    </script>
