<footer>
  <div class="overlay p-5">
    <div class="container p-5">
      <div class="row">
        <div class="col-md-3">
          <img src="../../assets/images/logo (2).png" height="100px" width="150px">
        </div>
        <div class="col-md-3">
          <h6>About Us</h6>
          <p><small>Gymnasium is a gym community that provides you with gym details , location and contacts and also with fitness and health articles to follow and do .</small></p>
        </div>
        <div class="col-md-3">
          <h6>Our Vision</h6>
          <p><small>Gymnasium is looking forward being number 1 in fitness and health sector and be able to help many people to find their nearest and best gyms .</small></p>
        </div>
        <div class="col-md-3">
          <h6>Social Media</h6>
          <img src="../../assets/images/facebook.png" class="mt-3 mr-4" alt="">
          <img src="../../assets/images/twitter.png" class="mt-3 mr-4" alt="">
          <img src="../../assets/images/google-plus.png" class="mt-3" alt="">
        </div>

      </div>
    </div>
    <div class="text-light text-center">
    <small>Copyright &copy; 2018 Copyright Gymnasium All Rights Reserved.</small>
    </div>
  </div>
</footer>
