
<!--header-->
<header class="position-relative" >
  <!-- header-background  -->
<div class="fullscreen-bg ">
    <video loop muted autoplay>
        <source src="../../assets/images/bg.mp4" type="video/mp4">
    </video>
</div>
<!-- main text and gyms button -->
<div class="search-area form-group float-left  pl-5 ml-5">
   <h4 class="text-white font-weight-bold pl-2 mb-3 raleway" for="exampleSelect1">
     Choose The Way You Train
   </h4>
   <p class="text-white pl-2 raleway" >Find the nearest gym to you with your own choices</p>

   <div>
  <a routerLink="gyms">
    <button type="button" class="btn btn-secondary btn-lg fill">Find a Gym</button>
  </a>
   </div>
 </div>
</header>

<!--<Asmaa>-->
  <!--Asmaa Sec-->
<div class="container raleway">
    <div class="row my-5">
      <div class="col-md-4 text-center mt-5" animateOnScroll animationName="animated fadeInUp">
        <div class="offers m-auto mt-5">
          <span>
             <img  class="img-responsive align-middle" src="../../assets/images/spa-discount.png" alt="">
            </span>
             <h3 class="">Free Sauna For one Day</h3>
             <p class="pt-2">@Academy Gym and Spa Now This Offer Avaliabe , Hurry and Reserve your free Sauna now </p>
            <p><a href="#" class="btn btn-more btn-sm">Read More</a></p>

        </div><!-- end of weight col -->
      </div>

  <!--2nd col-->
  <div class="col-md-4 text-center mt-5" animateOnScroll animationName="animated fadeInUp">
  <div class="offers m-auto">
    <span>
       <img  class="img-responsive align-middle" src="../../assets/images/spa-discount.png" alt="">
      </span>
       <h3 class="">Free Spa For limited time on membership</h3>
       <p class="pt-2">@Planet Gym Now This Offer Avaliabe , Hurry and Reserve your free Spa now</p>
      <p><a href="#" class="btn btn-more btn-sm">Read More</a></p>

  </div><!-- end of weight col -->
  </div>


  <!--3rd col-->
  <div class="col-md-4 text-center mt-5" animateOnScroll animationName="animated fadeInUp">
  <div class="offers m-auto">
    <span>
       <img  class="img-responsive align-middle" src="../../assets/images/spa-discount.png" alt="">
      </span>
       <h3 class="">50% on yealy membership</h3>
       <p class="pt-2">@Blow Up Gym Now This Offer Avaliabe , Hurry and Reserve your Membership</p>
      <p><a href="#" class="btn btn-more btn-sm">Read More</a></p>

  </div><!-- end of weight col -->
  </div>

    </div><!--end of row -->
  </div>

   <!---<Tips for Health>-->
    <div class="tips  mx-auto mb-5" >
      <h2 class="text-center mt-5 pt-5 raleway" animateOnScroll animationName="animated rollIn">Tips For Health</h2>
      <hr class="mb-5">
        <ngb-carousel>
            <ng-template ngbSlide>
              <img src="../../assets/images/255514-P4EAM0-642.jpg" alt="Random first slide" class="w-100 ">
              <div class="carousel-caption h-100 w-50" animateOnScroll animationName="animated bounceIn">
                <h3 class="mt-5">Eat your stress away</h3>
                <p>Prevent low blood sugar as it stresses you out.<br> Eat regular and small healthy meals and  keep fruit and<br> veggies handy. Herbal teas will also soothe your frazzled nerves.</p>
                <button type="button" class="btn m-5">Read more</button>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="../../assets/images/the.jpg" alt="Random first slide" class="w-100 ">
              <div class="carousel-caption h-100 w-50" animateOnScroll animationName="animated bounceIn">
                <h3 class="mt-5">Do self-checks</h3>
                <p>Do regular self-examinations of your breasts<br> Most partners are more than happy to help, not just because <br> breast cancer is the most common cancer among SA women. <br>The best time to examine your breasts is in the week after your period.</p>
                <button type="button" class=" btn m-5">Read more</button>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="../../assets/images/john.jpg" alt="Random first slide" class="w-100 h-50 position-relative">
              <div class="carousel-caption h-100 w-50" animateOnScroll animationName="animated bounceIn">
                <h3 class="mt-5">Do your weights workout first</h3>
                <p> Experts say weight training should be done first,<br> because it's  a higher intensity exercise compared to cardio. <br> Your body is better able to handle weight training early in the workout because <br> you're fresh and you have the energy you need to work it.</p>
                <button type="button" class="btn m-5">Read more</button>
              </div>
            </ng-template>
          </ngb-carousel>
    </div>



    <div animateOnScroll animationName="animated bounceInUp" offset="120">
    </div>



     <!-- Mayarss -->
     <h3 class="text-center mt-5 pt-5 raleway" animateOnScroll animationName="animated rollIn">Recomended Gyms</h3>
     <hr class="mb-5">

  <div class="row container mx-auto mb-5">
    <div class="col-md-4 col-sm-12" animateOnScroll animationName="animated fadeInUp">
      <img src="../../assets/images/justyn-warner-529957-unsplash.jpg" alt="gym" title="Her-Gym" class="w-100 h-100 position-relative cust">

        <div class="position-absolute ch">
          <p class="rt position-absolute h4">Her's Gym</p>
        </div>

    </div>

    <div class="col-md-4 col-sm-12" animateOnScroll animationName="animated fadeInUp">
        <img src="../../assets/images/scott-webb-22496-unsplash.jpg" alt="gym" title="Her-Gym" class="w-100 h-100 position-relative cust">
            <div class="position-absolute ch"> <p class="rt position-absolute h4">Gold's Gym</p></div>
      </div>
    <div class="col-md-4 col-sm-12" animateOnScroll animationName="animated fadeInUp">
      <img src="../../assets/images/OCDB740.jpg" alt="gym" title="Life-Gym" class="w-100 h-100 cust ">
      <div class="position-absolute ch"> <p class="rt position-absolute h4">Life's Gym</p></div>


    </div>

  </div>


<!--section 2-->
<div class="section-2 " style="font-family: raleway;">
  <div class="container">
  <h3 class="text-center raleway">Our Happy Clients</h3>
  <hr>
  <div id="demo" class="carousel slide " data-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/AMZ EP-Ti.jpg" class="mt-5" >
        <div class="text-center pb-5 pt-5">
          <h4><em>"This website is the best. I am so happy with the result!"</em><br/><span><b>Ahmed Ali</b></span></h4>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/images.jpg" class="mt-5" >
        <div class="text-center pb-5 pt-5">
          <h4><em>"One word... WOW!!"</em><br/><span><b>Asmaa Ahmed</b></span></h4>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/CKing_100px.png" class="mt-5" >
        <div class="text-center pb-5 pt-5">
          <h4><em>"Could I... BE any more happy with this website?"</em><br/><span><b>Samir Amin</b></span></h4>
        </div>

      </div>
    <ul class="carousel-indicators " >
      <li data-target="#demo" data-slide-to="0" class="active" style="border-radius: 50%; width: 10px; height: 10px;"></li>
      <li data-target="#demo" data-slide-to="1" style="border-radius: 50%; width: 10px; height: 10px;"></li>
      <li data-target="#demo" data-slide-to="2" style="border-radius: 50%; width: 10px; height: 10px;"></li>
    </ul>

    </div>

  </div>

</div>
</div>
<!--<Mayar>-->
